/*gameboard.css*/

body{
	background-color: #e8d7d7;
	/*font-family: 'Londrina Shadow', cursive;*/
	font-size: 2rem;
	margin: 50px;
}

header{
	float: right;
	position: fixed;
	top: 0;
	left: 75%;
	width: 350px;
	height: 100%;
	padding: 0;
	margin-top: 50px;
}

header>div{
	display: block;
	padding: 10px;
	margin: auto
}

header>.btn,button{
	width:80%;
	margin-bottom: 10px;
}

form{
}

main{
	clear: both;
}
.column{
	/*border: dashed black 1px;*/
	height: 100px;
	width: 100px;
	position: relative;
	background-image : url("/imgs/green_field.png");
}
.path {
	background-color: gray;
	background-image: url("/imgs/path.png");
}
.btn{
	font-family: sans-serif;
}

input{
	width: 200px;
}

.tower_panel{
	height: auto;
}
div>.tower_one, .tower_two, .tower_three{
	display: inline-block;
}

img{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
}


.board{
 margin-left : 20px;
}

.card{
	width: 80%;
	height: 250px;
}

.column:hover{
	background-color: #90f4c2;
}


.minion{
	width: 50px;
	height: 50px;
	z-index: 100;
	position: absolute;
	margin-left: 0px;
	top: 0;
	left: 0;
	margin-left: 25px;
	margin-top: 25px;
	/*top: 0;*/
}
.hp{
	color : blue;
	font-family: sans-serif;
	z-index: 100;
	position: absolute;
	font-size: 1rem;
	/*top: -20px;*/
	
}
.tower{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;

}
.testObj{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: red;
	z-index: 200;
}

.bullet {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	z-index: 50;
	position: absolute;
	/*
	left: -50px;*/
	/*(columnheight - bulletheight)/2*/
	top: 40px;
	left: 40px;

}
.towerRange{
	width:300px;
	height:300px;
	border-radius: 150px;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	z-index: -1;
	
	top: -100px;
	left: -100px;
}


.hidden {
	display: none;
}