/*gameboard.css*/

body{
	/*background-color: #e8d7d7;*/
	background-color: black;
	/*font-family: 'Londrina Shadow', cursive;*/
	font-size: 3rem;
	margin: 50px;
	color: red;
	font-family: 'Indie Flower', cursive;
	margin: 0;
	/*font-family: 'KenPixel Blocks'*/
}
.modal-title{
	font-size: 1.6rem;
}

header{
	float: right;
	position: absolute;
	top: 74px;
	right: 0;
	width: 400px;
	height: 100%;
	padding: 0;
	margin: 0 40px 0 0;
}
.player_stats{
	margin: 10px 0 10px 0 ;
}

header>div{
	display: block;
	padding: 10px;
	margin: auto;
}


span{
	
	margin-left: 12px;
	padding-left: 0px;

}

.nav-item{
	height: 50px;
	margin: 0 5px 0 5px;

}


.top_nav{
	top:0;
	left:50;
	/*padding-left: 50px;*/
	position: absolute;
	display: inline-block;
	z-index: 0;
	height:50px;
	width: 100%;
	/*background-color: brown;*/

}
.top_nav>div{
	display: inline-block;

}

main{
	clear: both;
}
.column{
	/*border: dashed black 1px;*/
	height: 100px;
	width: 100px;
	position: relative;
	/*background-image : url("/imgs/green_field.png");*/
}
.path {
	background-color: black;
	/*background-image: url("/imgs/path.png");*/
}
.btn{
	font-size: 2rem;
}
form{
	width: max-content;
	height: 50px;
}
form>input,button{
	display:inline-block;
	width: auto;
	height: 48px;
}


.tower_panel{
	height: auto;
	margin: 20px 0 20px 0 ;
}
div>.tower_one, .tower_two, .tower_three{
	display: inline-block;
}

.tower_panel>div{
	text-align: center;
	display: table-cell;
	width: 190px;
	height: 100px;
}
.tower_ref{
	height: 100px;
	width: 100px;
}

.modal-body>input{
	width: 100%;
}
#nav_bar{
	background-color: black!important; 
}

.modal-footer>.btn{
	width: 100%;
}
button>.btn{
	width: 100%;
}
.start_wave{
	width: 380px;
	height: 100px;
	margin: 10px;
}

.board{
	position: absolute;
 margin-left : 20px;
}

.card{
	width: 100%;
	max-height: 378px;
}
.card-img-top{
	max-height: 300px;

	text-align: center;
	background-size: cover;
}


.card-title{
	text-align: center;
}

.column:hover{
	background-color: #90f4c2;
}


.minion{
	width: 50px;
	height: 50px;
	z-index: 100;
	position: absolute;
	margin-left: 0px;
	top: 0;
	left: 0;
	margin-left: 25px;
	margin-top: 25px;
	/*top: 0;*/
}
.hp{
	color : blue;
	font-family: sans-serif;
	z-index: 100;
	position: absolute;
	font-size: 1rem;
	/*top: -20px;*/
	
}
.tower{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;

}
.testObj{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: red;
	z-index: 200;
}

.bullet {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	z-index: 100;
	position: absolute;
	/*
	left: -50px;*/
	/*(columnheight - bulletheight)/2*/
	top: 40px;
	left: 40px;

}
.towerRange{
	width:300px;
	height:300px;
	border-radius: 150px;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	z-index: -1;
	
	top: -100px;
	left: -100px;
}


.hidden {
	display: none;
}