/*gameboard.css*/

body{
	background-color: #e8d7d7;
	font-family: 'Londrina Shadow', cursive;
	font-size: 2rem;
}

header{
	padding: 20px 45px 20px 45px;
}

header>div{
	display: inline-block;
	float:right;
	padding: 10px;
	margin: 0 0 20px 0;
}

main{
	clear: both;
}
.column{
	border: dashed black 1px;
	height: 100px;
	width: 150px;
}
.btn{
	font-family: sans-serif;
}

.minion{
	width: 50px;
	height: 50px;
	z-index: 1;
}
.tower{
	width: 80px;
	height: 80px;
}
.bullet {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	z-index: 1;
	position: relative;
	
	left: -50px;

}