/*gameboard.css*/

body{
	background-color: #e8d7d7;
	/*font-family: 'Londrina Shadow', cursive;*/
	font-size: 2rem;
}

header{
	padding: 20px 45px 20px 45px;
}

header>div{
	display: inline-block;
	float:right;
	padding: 10px;
	margin: 0 0 20px 0;
}

main{
	clear: both;
}
.column{
	border: dashed black 1px;
	height: 100px;
	width: 100px;
	position: relative;
}
.btn{
	font-family: sans-serif;
}

.minion{
	width: 50px;
	height: 50px;
	z-index: 100;
	position: fixed;
	margin-top: 25px;
	/*top: 0;*/
}
.hp{
	color : blue;
	font-family: sans-serif;
	z-index: 100;
	position: absolute;
	font-size: 1rem;
	/*top: -20px;*/
	
}
.tower{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;

}
.bullet {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	z-index: 50;
	position: absolute;
	/*
	left: -50px;*/
	/*(columnheight - bulletheight)/2*/
	top: 40px;
	left: 40px;

}
.towerRange{
	width:300px;
	height:300px;
	border-radius: 150px;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	z-index: -100;
	
	top: -100px;
	left: -100px;
}