/*styles.css*/


body{
	color: black;
	background-color: #e8d7d7;
	/*background-color: white;*/
	font-family: 'Indie Flower', cursive;
	text-shadow: 5px 5px 60px yellow;
	font-size: 4rem;
}

main{
	margin: 5%;
	text-align: center;
	
}

p{
	color: black;
	/*text-shadow: 3px 3px 20px black;*/
}

.btn{
	font-size: 3rem;
	font-family: sans-serif;
	text-shadow: none;
}